<div class="container mt-5 mb-5">
  

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="page-header align-items-start min-height-300 m-3 border-radius-xl" style="background-image: url('https://images.unsplash.com/photo-1491466424936-e304919aada7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1949&q=80');" loading="lazy">
      <span class="mask bg-gradient-dark opacity-6"></span>
    </div>
    <div class="container mb-4">
      <div class="row mt-lg-n12 mt-md-n12 mt-n12 justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
          <div class="card mt-8">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1 text-center py-4">
                <h4 class="font-weight-bolder text-white mt-1">Nuevo usuario</h4>
                <p class="mb-1 text-sm text-white">Pon tu email y tu contraseña para registrarte</p>
              </div>
            </div>
            <div class="card-body">
              <form role="form" class="text-start">
                <div class="input-group input-group-static mb-4">
                  <label>Email</label>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"javier@email.com" %>
                </div>
                <div class="input-group input-group-static mb-4">
                  <label>Contraseña<% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br /></label>
                  <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"•••••••••••••" %>
                </div>
                <div class="input-group input-group-static mb-4">
                  <label>Contraseña confirmación</label>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"•••••••••••••" %>
                </div>
                <div class="text-center">
                  <%= f.submit "OK! Vamos allá", class:"btn bg-gradient-success w-100 mt-3 mb-0" %>
                </div>
              </form>
            </div>
            
            <div class="card-footer text-center pt-0 px-lg-2 px-1">
              <p class="mb-4 text-sm mx-auto">
                ¿Ya tienes cuenta?
                <%= render "devise/shared/links", class:"text-success text-gradient font-weight-bold" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>