<%= form_with(model: operation) do |form| %>
<% if operation.errors.any? %>
<div style="color: red">
  <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

  <ul>
    <% operation.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<section>
  <div class="container py-4 card">
    <div class="row">
      <div class="col-lg-8 mx-auto d-flex justify-content-center flex-column">
        <h3 class="text-center">Crear nueva operación</h3>
        <form role="form" id="contact-form" method="post" autocomplete="off">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-static mb-4">
                  <label>Importe del préstamo</label>
                  <%= form.number_field :requested_money, class:"form-control", placeholder: "Ejemplo: 125000" %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group input-group-static mb-4">
                  <label>Precio de compraventa de la casa</label>
                  <%= form.number_field :buying_price, class:"form-control", placeholder: "Ejemplo: 140000" %>  
                </div>
              </div>
               <div class="col-md-12">
                <div class="input-group input-group-static mb-4">
                <label>Valor de tasación</label>
                  <%= form.number_field :appraisal_price, class:"form-control", placeholder: "Ejemplo: 150000; Si no tienes todavía la tasación, pon el precio de compra" %>  
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group input-group-static mb-4">
                  <label>Años de duración del préstamo</label>
                  <%= form.number_field :years_duration, class:"form-control", placeholder: "Ejemplo: 30" %>  
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group input-group-static mb-4">
                  <label>Año de nacimiento</label>
                  <%= form.number_field :year_of_birth, class:"form-control", placeholder: "Ejemplo: 1985" %>  
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group input-group-static mb-4">
                  <label>Ingreso bruto anual</label>
                  <%= form.number_field :annual_gross_income, class:"form-control", placeholder: "Ejemplo: 30000. Si sois dos, poned la suma total de vuestras rentas anuales" %> 
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group input-group-static mb-4">
                  <label>Provincia</label>
                  <%= form.select(:city, ["Alava", "Albacete", "Alicante", "Almeria", "Asturias", "Avila", "Badajoz", "Barcelona", "Burgos", "Caceres", "Cadiz", "Cantabria", "Castellon", "Ciudad Real", "Cordoba", "La Coruña", "Cuenca", "Gerona", "Granada", "Guadalajara", "Guipuzcoa", "Huelva", "Huesca", "Islas Baleares", "Jaen", "Leon", "Lerida", "Lugo", "Madrid", "Malaga", "Murcia", "Navarra", "Orense", "Palencia", "Las Palmas", "Pontevedra", "La Rioja", "Salamanca", "Segovia", "Sevilla", "Soria", "Tarragona", "Santa Cruz de Tenerife", "Teruel", "Toledo", "Valencia", "Valladolid", "Vizcaya", "Zamora", "Ceuta", "Melilla" ], {include_blank: "Selecciona una provincia"}, {class:"form-control"}) %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group input-group-static mb-4">
                  <label>Tipo de interés</label>
                  <%= form.select(:interest_type, ["Fijo", "Variable", "Mixto"], {include_blank: "Seleccione tipo de interés"}, {class:"form-control"}) %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group input-group-static mb-4">
                  <label>Nombre de contacto</label>
                  <%= form.text_field :name, class:"form-control", placeholder: "Ejemplo: Antonio" %> 
                </div>
              </div>
               <div class="col-md-12">
                <div class="input-group input-group-static mb-4">
                  <label>Teléfono de contacto (Opcional)</label>
                  <%= form.text_field :phone_number, class:"form-control", placeholder: "Ejemplo: 690 380 370" %>
                </div>
              </div>
               <div class="col-md-12">
                <div class="input-group input-group-static mb-4">
                  <label>Recerencia interna (Opcional)</label>
                  <%= form.text_field :reference_id, class:"form-control", placeholder: "(Para inmobiliarias) Pon una R.I para facilitar el seguimiento de un expediente" %>
                </div>
              </div>
            </div>
           <br>
            <div class="row">
              <div class="col">
                <%= link_to "Cancelar", operations_path, class:"btn btn-outline-dark" %>
                <%= form.submit "Crear anuncio", class:"btn btn-primary" %>
                
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<% end %>