<%= form_with(model: operation) do |form| %>
<% if operation.errors.any? %>
<div style="color: red">
  <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

  <ul>
    <% operation.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="mb-1 container">
  <div>
    <%= form.label :requested_money, "Importe del préstamo", class:"form-label", style: "display: block" %>
    <%= form.number_field :requested_money, class:"form-control", placeholder: "Ejemplo: 125000" %>
  </div>

  <div>
    <%= form.label :buying_price, "Precio de compra de la casa", class:"form-label", style: "display: block" %>
    <%= form.text_field :buying_price, class:"form-control", placeholder: "Ejemplo: 140000" %>
  </div>

  <div>
    <%= form.label :appraisal_price, "Valor de tasación o tasación aproximada", class:"form-label", style: "display: block" %>
    <%= form.text_field :appraisal_price, class:"form-control", placeholder: "Ejemplo: 150000; Si no tienes todavía la tasación, pon el precio de compra" %>
  </div>

  <div>
    <%= form.label :years_duration, "Años de duración del préstamo", class:"form-label", style: "display: block" %>
    <%= form.number_field :years_duration, class:"form-control", placeholder: "Ejemplo: 30" %>
  </div>

  <div>
    <%= form.label :year_of_birth, "Año de nacimiento", class:"form-label", style: "display: block" %>
    <%= form.number_field :year_of_birth, class:"form-control", placeholder: "Ejemplo: 1985" %>
  </div>

  <div>
    <%= form.label :annual_gross_income, "Ingreso bruto anual", class:"form-label", style: "display: block" %>
    <%= form.text_field :annual_gross_income, class:"form-control", placeholder: "Ejemplo: 30000; Si sois dos, poned la suma total de vuestras rentas anuales" %>
  </div>

  <div>
    <%= form.label :city, "Ciudad", class:"form-label", style: "display: block" %>
    <%= form.text_field :city, class:"form-control", placeholder: "Ejemplo: Madrid" %>
  </div>

  <div>
    <%= form.label :name, "Nombre", class:"form-label", style: "display: block" %>
    <%= form.text_field :name, class:"form-control", placeholder: "Ejemplo: Antonio" %>
  </div>

  <div>
    <%= form.label :interest_type, "Tipo de interés", class:"form-label", style: "display: block" %>
    <%= form.text_field :interest_type, class:"form-control", placeholder: "Poner Fijo o Variable" %>
  </div>

  <div>
    <%= form.label :email, class:"form-label", style: "display: block" %>
    <%= form.text_field :email, class:"form-control", placeholder: "Ejemplo: antonio@ejemplo.com" %>
  </div>

  <div>
    <%= form.label :reference_id, "Referencia interna (Opcional)", class:"form-label", style: "display: block" %>
    <%= form.text_field :reference_id, class:"form-control", placeholder: "Pon una referencia interna para facilitar la identificación de la operación con el banco" %>
  </div>

  <br>

  <div>
    <%= link_to "Volver al menú", operations_path, class:"btn btn-outline-primary" %>
    <%= form.submit "Crear anuncio", class:"btn btn-outline-success" %>
  </div>
</div>



<% end %>

<br>