<div id="<%= dom_id operation %>">
  <p>
    <strong>Requested money:</strong>
    <%= operation.requested_money %>
  </p>

  <p>
    <strong>Buying price:</strong>
    <%= operation.buying_price %>
  </p>

  <p>
    <strong>Appraisal price:</strong>
    <%= operation.appraisal_price %>
  </p>

  <p>
    <strong>Years duration:</strong>
    <%= operation.years_duration %>
  </p>

  <p>
    <strong>Year of birth:</strong>
    <%= operation.year_of_birth %>
  </p>

  <p>
    <strong>Annual gross income:</strong>
    <%= operation.annual_gross_income %>
  </p>

  <p>
    <strong>City:</strong>
    <%= operation.city %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= operation.name %>
  </p>

  <p>
    <strong>Interest type:</strong>
    <%= operation.interest_type %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= operation.email %>
  </p>

</div>
