<p style="color: green"><%= notice %></p>


<div class="container">
  <h3>Operaciones hipotecarias</h3>
</div>

<div class="container">
  <div id="operations">
    <% @operations.each do |operation| %>
    <br>
    <div id="<%= dom_id operation %>">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><%= operation.name %></h5>
            <p class="card-text"><%= operation.city %></p>
            </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Ratio préstamo/tasación:</strong>
                <%= number_to_percentage((operation.requested_money / operation.appraisal_price) * 100, precision: 1) %>
                <strong>Ratio préstamo/compra:</strong>
                <%= number_to_percentage((operation.requested_money / operation.buying_price) * 100, precision: 1) %>
                <strong>Ratio de endeudamiento:</strong>
                <% n = (operation.years_duration * 12).to_f %>
                <% i = 0.015 / 12 %>
                <% c = operation.requested_money.to_f %>
                <% a1 = c * i %>
                <% a2 = 1 - (1 + i) ** -n %>
                <% a = a1 / a2 %>
                <% salary = operation.annual_gross_income / 12  %>
                <% ratio = a / salary %>
                <%= number_to_percentage(ratio * 100, precision: 1) %>
              </li>
              <li class="list-group-item"><strong>Dinero solicitado:</strong>
                <%= number_to_currency(operation.requested_money, locale: :es) %>
                <strong>Salario bruto:</strong>
                <%= number_to_currency(operation.annual_gross_income, locale: :es) %>
                <strong>Duración:</strong> <%= operation.years_duration %> años
              </li>
            </ul>

            <div class="card-body">
              <%= link_to "Ver detalles", operation, class:"btn btn-outline-primary" %>
            </div>
        </div>
      </div>
    </div>

    <br>

    <% end %>
  </div>
</div>