<p style="color: green"><%= notice %></p>




<div class="container">
  <div id="operations">


    <%= render "filter", operation: @operation %>

    <% @operations.each do |operation| %>
    <!----Refactor to a partial to extract--->
    <br>
    <div>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><%= operation.name %> de <%= operation.city %> </h3>
          <p class="card-text">Operaci칩n creada en <%= time_tag(operation.created_at) %> y contactada
            <% if operation.messages.count == 1 %>
            <%= operation.messages.count %> vez </p>
          <% else %>
          <%= operation.messages.count %> veces </p>
          <% end %>

          <ul class="list-inline">
            <li class="list-inline-item"><strong>LTV compra:</strong>
              <%= number_to_percentage(operation.ltv_buying, precision: 1) %>
            </li>
            <li class="list-inline-item"><strong>LTV tasaci칩n:</strong>
              <%= number_to_percentage(operation.ltv_appraisal, precision: 1) %>
            </li>
            <li class="list-inline-item"><strong>Tasa de esfuerzo:</strong>
              <%= number_to_percentage(operation.stress_test, precision: 1) %>
            </li>
          </ul>

          <ul class="list-inline"><strong>Dinero solicitado:</strong>
            <%= number_to_currency(operation.requested_money, locale: :es) %></li>
            <li class="list-inline-item"><strong>Salario bruto:</strong>
              <%= number_to_currency(operation.annual_gross_income, locale: :es) %></li>
            <li class="list-inline-item"><strong>Duraci칩n:</strong> <%= operation.years_duration %> a침os</li>
          </ul>

          <div class="card-body">
            <%= link_to "Ver detalles", operation, class:"btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    </div>
    <br>

    <% end %>

    <%= paginate @operations %>

    <br>
  </div>
</div>