<p style="color: green"><%= notice %></p>


<div class="container">
  <h3>Operaciones hipotecarias</h3>
</div>

<div class="container">
  <div id="operations">

  <%= render "filter", operation: @operation %>

    <% @operations.each do |operation| %>
    <br>
    <div id="<%= dom_id operation %>">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><%= operation.name %></h5>
            <p class="card-text"><%= operation.city %>. Operaci칩n creado <%= time_ago_in_words(operation.created_at) %></p>
            
            <ul class="list-inline">
              <li class="list-inline-item"><strong>LTV tasaci칩n:</strong>
                <%= number_to_percentage(operation.ltv_appraisal, precision: 1) %>
              </li>
              <li class="list-inline-item"><strong>LTV compra:</strong>
                <%= number_to_percentage(operation.ltv_buying, precision: 1) %>
              </li>
              <li class="list-inline-item"><strong>Tasa de esfuerzo:</strong>
                <% n = (operation.years_duration * 12).to_f %>
                <% i = 0.015 / 12 %>
                <% c = operation.requested_money.to_f %>
                <% a1 = c * i %>
                <% a2 = 1 - (1 + i) ** -n %>
                <% a = a1 / a2 %>
                <% salary = operation.annual_gross_income / 12  %>
                <% ratio = a / salary %>
                <%= number_to_percentage(ratio * 100, precision: 1) %></li>
            </ul>
            
            <ul class="list-inline"><strong>Dinero solicitado:</strong>
              <%= number_to_currency(operation.requested_money, locale: :es) %></li>
              <li class="list-inline-item"><strong>Salario bruto:</strong>
              <%= number_to_currency(operation.annual_gross_income, locale: :es) %></li>
              <li class="list-inline-item"><strong>Duraci칩n:</strong> <%= operation.years_duration %> a침os</li>
            </ul>

            <div class="card-body">
              <%= link_to "Ver detalles", operation, class:"btn btn-outline-primary" %>
            </div>
        </div>
      </div>
    </div>

    <br>



    <% end %>

    <%= paginate @operations %>

    <br>
  </div>
</div>